.Menu {
  padding: 110px 30px 40px;
  max-width: 100%;
  width: 360px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.15s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  transform: translateX(100%);

  &.Menu--active {
    box-shadow: 0px 0px 25px 0px rgba(219, 219, 219, 0.5);
    transform: translateX(0);
  }

  & .categories {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
    gap: 3rem;
  }

  & .showAll {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #c1c1c1;
    transition: color 0.3s ease;

    &:hover {
      color: #0023ff;

      &::after {
        background-color: #0023ff;
      }
    }
  }
  & .showAll::after {
    content: '';
    display: block;
    margin: 12px auto 0;
    width: 50%;
    height: 2px;
    background-color: #c1c1c1;
    transition: background-color 0.3s ease;
  }
}

@media (max-width: 767px) {
  .Menu {
    width: 320px;
    padding: 110px 20px 40px;
  }
}
