---
user: linuxuser
user_password: 'password'
public_key_path: ~/.ssh/id_rsa.pub

container_registry_username: username
container_registry_password: PAT

# Letsencrypt, Nginx configuration
domain_name: example.com
domain_email: email@gmail.com

# S3
s3_endpoint: http://minio:9000
s3_access_key_id: minio-root-user
s3_secret_access_key: minio-root-password

# Postgres
postgres_user: olios-backend
postgres_password: olios-backend-password
postgres_db: olios-db

#
session_secret: 12jeo12ejoi12ej1123123o2ejo1i2j1oi2
