.TableWrapper {
  overflow: auto;
  position: relative;
  text-align: center;
}

.Preloader {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;

  display: none;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &[data-is-visible='true'] {
    display: flex;
    background-color: #ffffffae;
  }
}

.Table {
  width: 100%;
  text-align: left;

  --row-hover-color: rgba(39, 39, 42, 0.08);
  --border-color: #8c9a9eab;
}

.HeaderRow {
  width: 100%;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--row-hover-color);
  }
}

.HeaderCell {
  padding: 0.5em 4px;
  flex: 1 0;
  text-align-last: left;
  font-weight: bold;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Row {
  width: 100%;
  border-top: 1px solid var(--border-color);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--row-hover-color);
  }
}

.Cell {
  padding: 0.5em 4px;
  flex: 1 0;
  text-align-last: left;
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
