.card {
  padding: 8px 12px;
  background-color: #fff;
}

.user_info {
  max-width: 450px;

  & > div {
    display: flex;

    & > dt {
      flex: 0.2;
      font-weight: 700;
      margin-right: 4px;
      max-width: 80px;
    }

    & > dd {
      flex: 1;
      text-align: left;
    }
  }
}