.card {
  padding: 8px 12px;
  background-color: #fff;
}

.user_info {
  & > div {
    display: flex;
    margin: 0.5rem 0;

    & > dt {
      flex: 0.2;
      font-weight: 700;
      margin-right: 4px;
      max-width: 90px;
    }

    & > dd {
      flex: 1;
      text-align: left;
    }
  }
}
