.page {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 12px;
  background-color: #fff;
}

.local_nav {
  display: flex;
  justify-content: center;
}

.local_nav__item {
  margin: 6px;
  padding: 6px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: #000;
  transition: background-color .3s ease;
  background-color: transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #fafafa;
  }

  &.active {
    color: #fff;
    background-color: #0023ff;
  }
}