.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 160px 10px 50px;
  background-color: #fff;
  box-shadow: 0 0 25px 0 rgba(219, 219, 219, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  z-index: 5;
}

.SidebarLogo {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -100%);
  cursor: pointer;
  width: 40px;

  & > img {
    width: 100%;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .NavItem {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    & path {
      fill: #d8d8d8;
      transition: fill 0.2s;
    }

    &:hover path {
      fill: var(--accent-color);
    }

    &.NavItemActive svg path {
      fill: var(--accent-color);
    }
  }
}

.SidebarBurger {
  display: none;
  width: 35px;
  height: 35px;
  background: transparent;
  box-shadow: none;
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: 60px;
    padding: 10px 15px 10px 75px;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .nav {
    flex-direction: row;
    gap: 0.5rem;
  }

  .SidebarLogo {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  .SidebarBurger {
    display: block;
  }
}
